body {
    background: lightgrey;
    position: relative;
}
.content{
    text-align: center;
}
.heading{
  margin:5px;
  margin-top: 10px; 
  
}
.poemRow{
  margin-left: 0px;
  }

  ul.nav-pills {
    top: 80px;
    position: fixed;
  }
  
  .poemImage{
     width:300px;
     height:250px;
     margin: 5px;
     border-radius: 4px;
     

  }
  .coloring{
    /* background: rgb(26, 163, 255); */
  }
  .section{
    margin-bottom: 20px;
    

  }
  .center{
    text-align: center;
  }
  .sections {
     color: black;
     background:white; 
  }

  
  @media screen and (max-width: 500px) {
    .section  {
      margin-left: 200px;
    }
    .poemImage{
       width:140px;
       height:150px;
       margin: 5px
  
    }
    .poemRow{
      margin-left: 0px;
      }
    div.col-sm-9 div {
      font-size: 12px;
    }
    #myScrollspy{
      margin-left: 0px; 
    }
  }


 