body {
    background: lightgrey;

}
.content{
    text-align: center;
}
.heading{
  margin:5px;
  margin-top: 10px;  
}
  
  .poemImage{
     width:350px;
     height:280px;
     margin: 5px;
     border-radius: 4px;
  }
  .section{
    margin-bottom: 20px;
  }
  .center{
    text-align: center;
  }  
  @media screen and (max-width: 500px) {   
    .poemImage{
       width:300px;
       height:250px;
       margin: 5px
  
    }
  }


 